.errorSummary, span.error {
	border: 1px solid #fb6e50;
	color: #fb6e50;
	padding: 6px 0px 6px 75px;
	text-align: left;
	margin: 0px 0px 10px 0px;
	background: url(images/error_sum_icon.png) 27px 12px no-repeat;
	display: block;
}
span.error {
	padding: 6px 0px 15px 75px;
}
input.error {
	border: 1px solid hsl(0, 100%, 50%) !important;
}
.errorSummary p, .error p {
	margin: 0px;
}
.errorSummary ul, .error ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	height: auto;
}
.errorSummary ul li, .error ul li  {
	margin: 0px !important;
	display: block;
}
.success, .auth .autorization span.success {
	display: block;
	border: 1px solid #8cc152;
	color: #656d78;
	padding: 6px 0px 6px 75px;
	text-align: left;
	margin: 10px 0px 10px 0px;
	background: url(images/success_sum_icon.png) 27px 6px no-repeat;
}